header {
  width: 100%;
  background-color: var(--background-primary-color);
  border-bottom: 2px solid var(--border-background-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  padding: 10px 0;
}

.header-logo {
  height: 70px;
  width: auto;
}